{% extends 'app/base.html' %}
{% load static %}
{% block Laliga %}
<div class="jumbotron">
    <div class="box-element">
        <a  class="mx-4 my-2 btn btn-outline-light" href="{% url 'home' %}">&#x2190; Trang chủ</a>
    </div>
    <main role="main" class="container my-4">
    </br>
        <div class="card ">
              
        </br>
            <h2 class="text-center">Bảng xếp hạng</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover8u">
                <thead>
                    <tr>
                    <th scope="col">Vị trí</th>
                    <th scope="col">Đội bóng</th>
                    <th scope="col">Trận đấu</th>
                    <th scope="col">Thắng</th>
                    <th scope="col">Hòa</th>
                    <th scope="col">Thua</th>
                    <th scope="col">Điểm</th>
                    </tr>
                </thead>
                <tbody >
                    {% for team in teams %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td >
                        {% if team.image %}
                            <img src="{{ team.ImageURL }}" alt="{{ team.name }} logo" width ="30" height='30'>
                        {% endif %}
                        {{ team.name }}
                    </td>
                    <td>{{ team.matches }}</td>
                    <td>{{ team.wins }}</td>
                    <td>{{ team.draws }}</td>
                    <td>{{ team.losses }}</td>
                    <td>{{team.points}}</td>
                    </tr>
                    {% endfor %}
                    <!-- more rows -->
                </tbody>
                </table>
            </div>
        </div>
      </main>  
</div>

<div class="container ">
    <h2 class="col-12 title-section text-white ">Các trận đấu đã diễn ra</h2>
    <div class="row">
      <div class="col-lg-6 mb-4 order-1 order-lg-0 ">
        {% for match in matches %}
        <div class="bg-light p-4 rounded my-2">
          <div class="widget-body">
            <div class="widget-vs">
              <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                <div class="team-1 text-center">
                  <img src="{{ match.home_team.ImageURL }}" alt="{{ match.home_team.name }} logo">
                  <h5>{{ match.home_team.name }}</h5>
                </div>
                <div class="score text-center ">
                  <span class ="fs-2">{{ match.home_score }}</span>
                  <span>-</span>
                  <span class ="fs-2">{{ match.away_score }}</span>
                  <span class="d-block mx-2">{{match.date}}</span>
                </div>
                <div class="team-2 text-center">
                  <img src="{{ match.away_team.ImageURL }}" alt="{{ match.away_team.name }} logo">
                  <h5>{{ match.away_team.name }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-6 order-0 order-lg-1 my-2">
        <!-- Phần hiển thị tin tức -->
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <img src="{% static 'app/images/barca.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Tin tức mới nhất</h5>
                <p class="card-text">Barca tạm biệt sân Camp Nou bằng chiến thắng hủy diệt.</p>
                <a href="#" class="btn btn-primary">Đọc thêm</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}